{% extends 'base.html' %}

{% block titulo %}Monitoreo de servidores{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block header %} 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Monitoreo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/funcionesAdminServ/">Regresar</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Salir </a></li>
    </ul>
  </div>
</nav>

{% endblock %}

<div>
	<h1 class="text-center">Porcentajes de los servidores</h1>
</div>

{% if errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ errores }}
</div>
{% endif %}


{% block cuerpo %}



<li>
    {{ datos.Disco }}
    {{ datos.Memoria }}
    {{ datos.CPU }}
</li>


{% endblock %}

{% block pie %} {{ block.super }} {% endblock %}


