{% extends 'base.html' %}

{% block titulo %}Monitoreo de servidores{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block header %} 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Monitoreo</a>
      <a class="navbar-brand" href="/funcionesAdminServ/">Actualizar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Salir </a></li>
    </ul>
  </div>
</nav>

{% endblock %}

{% if errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ errores }}
</div>
{% endif %}

<br>
<br>
<br>

{% block cuerpo %}

<div>
	<h1 class="text-center">Bienvenido Administrador</h1>
</div>

<div class="container">
    <section class="contianer" text-aling="center" >
    <h2>Porcentajes</h2>
    <p>Los resultados son los siguientes:</p>            
  
        {% for datos in monitoreo %}
          <p>{{datos.Disco }}</p>
          <p>{{datos.Memoria }}</p>
          <p>{{datos.CPU }}</p>
        {% endfor %}
    </section>
  </div>



{% endblock %}

{% block pie %} {{ block.super }} {% endblock %}
