{% extends 'base.html' %}

{% block titulo %}Monitoreo de servidores{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block header %} 
	<h1 class="text-center">Token</h1>
{% endblock %}

{% block cuerpo %}

{% if errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ errores }}  
</div>
{% endif %}

<br>
<br>
<br>
<form method="POST" action="/token/">
  {% csrf_token %}

  <div class="login-box">
    <!-- TOKEN INPUT-->
    <label for="username">Ingresa token</label>
    <input type="password" placeholder="Ingresa token" name="token" required>
    <!--<div class="col-sm-5">Ingresa token:</div>
    <div class="col-sm-7"><input type="password" name="token" required></div>-->
    <br>
    <input type="submit" value="Login">
  </div>
</form>

{% endblock %}

{% block pie %} {{ block.super }} {% endblock %}